/*CSS FILE*/
.searchTb{margin-top:25px;margin-left: 30px;}
.searchTb th{ font-weight: bold;padding: 10px;}
.searchTb input{height:25px; line-height: 25px;}
.formTable{width: 100%;}
.formTable tr{height:35px;line-height:35px;}
.formTable{width: 100%;}